main { position: absolute; top: 100px; left: 100px; }
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
}

/*Make dat gui panel unselectable so it doesent get selected during mouse drag*/
#gui {
  
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}  

/* #gui { */
/*   margin-right:1000px !important; */
/*   position: absolute; top: 20px; left: 20px;} */
/* #gui { position: absolute;        top: 1em;        left: 1em;        min-width: 100px;     overflow: auto;     min-height: 1000px; }
 */
